---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h2 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h2>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://www.wenjunjiang.win/js/gitment.js "></script>
<script>
var gitment = new Gitment({
    owner: 'Codingrunningman',
    repo: 'codingrunningman.github.io',
    oauth: {
        client_id: '7418fde35d3406c69719',
        client_secret: 'e9df8da79d5997728eab805f58ae111ed8a9c0eb',
    },
});
gitment.render('gitmentContainer');
</script>

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
